<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="SQLDB" connectionString="Data Source=ENDOS\SQLEXPRESS;Initial Catalog=ATM_DB;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>